# Node & dependencies
node_modules/
.pnpm-store/

# Build output (we build this in CI)
dist/
lib/
build/
locales/
!src/locales/

# Local environment
.env
.env.local

# Logs
npm-debug.log*
pnpm-debug.log*

# IDEs / editors
.vscode/
.idea/
.DS_Store

# OS / temp files
*.swp
*.tmp
*.tgz
